@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
    /* Palette */
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgba(29, 132, 181, 0.9);
    --secondary-500: rgba(29, 132, 181, 0.5);
    --secondary-300: rgba(29, 132, 181, 0.3);
    
    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #ffffff;

    /* Tipografías */
    --base-font: "Inter", sans-serif;
    --alternative-font: "Raleway", sans-serif;

    /* Font sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}


.create__title{
    margin: 6rem 0 0 0;
    font-size: var(--font-jumbo);
}

.create__form{
    margin: 4rem 0 8rem 0;
    max-width: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-36);
}

.form__flex{
    display: flex;
    gap: var(--spacing-36);
}

.form__box--flex{
    display: flex;
    gap: var(--spacing-12);
    align-items: center;
}

.form__label{
    font-size: var(--font-medium);
    font-weight: 600;
    letter-spacing: 1px;
}

.form__select{
    border-radius: 6px;
    border: 3px solid var(--dark-solid);
    font-size: var(--font-medium);
    padding: var(--spacing-8);
}

.form__input{
    padding: 1rem 0.5rem;
    border: none;
    flex-grow: 1;
    border-bottom: 3px solid var(--primary-solid);
    font-size: var(--font-medium);
}

.form__input:focus{
    outline: none;
}

.form__input--wrapper{
    display: flex;
    align-items: center;
}

.form__input--wrapper .form__input{
    width: 50%;
}

.form__input--wrapper span{
    font-size: var(--font-medium);
    padding: 1rem 0.5rem;
}

textarea{
    width: 100%;
    font-size: var(--font-large);
    padding: var(--spacing-8);
    font-weight: 400;
    font-family: var(--base-font);
}

.form__btn{
    font-size: var(--font-xsmall);
}

.btn--large{
    padding: var(--spacing-12) var(--spacing-28);
}

.btn--primary{
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    transition: 0.4s ease-in-out;
    border: 1px solid transparent;
}

.btn--primary:hover{
    background-color: var(--dark-solid);
    box-shadow: 1px 1px 2px var(--dark-bg-solid);
    border-radius: 4px;
}

.btn{
    border: none;
    cursor: pointer;
}


/*  Edit View Elementes  */
.edit__img{
    max-width: 15rem;
    padding-bottom: var(--spacing-8);
}

.edit__img-side{
    font-size: var(--font-small);
    text-align: center;
    padding-top: var(--spacing-8);
    border-top: 3px solid var(--primary-solid);
    font-weight: 600;
}